.yellow{
    background-color: yellow ;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left:10px;   
}
.green{
    background-color: green;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left:10px;   
}
.blue{
    background-color:blue ;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left:10px;
}
.red{
    background-color:red ;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left:10px;
}
.black{
    background-color:black ;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left:10px;
}
.white{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left:10px;
}
.color{
    display: flex;
    float: left;
    /* width: 40px;
    height: 40px; */
    margin : 5px;
}