body{
    background:url(/assets/images/enfant.png) no-repeat;
    background-position: top right;
    background-size:50%;
}
.texte{
    text-align: justify;
    width: 500px;
    padding-left: 70px;
    padding-top: 70px;
    line-height: 2em;
}
h1{
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.5em;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}
p{
    display: flex;
    flex-wrap: wrap;
    width:500px;
    align-items: space-between;
}
a.bouton{
    text-decoration: none;
    background-color: #c7ba00;
    padding: 30px;
    color: black;

}